{% filter remove_whitespace %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ settings.title }}</title>
	{% if config.meta_keywords %}<meta name="keywords" content="{{ config.meta_keywords }}">{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	{% if config.url_favicon %}<link rel="shortcut icon" href="{{ config.url_favicon }}">{% endif %}
	<link rel="stylesheet" media="screen" href="{{ config.url_stylesheet }}">
	<link rel="stylesheet" media="screen" href="/recent.css">
	{% if config.default_stylesheet.1 != '' %}<link rel="stylesheet" type="text/css" id="stylesheet" href="{{ config.uri_stylesheets }}{{ config.default_stylesheet.1 }}">{% endif %}
	{% if config.font_awesome %}<link rel="stylesheet" href="{{ config.root }}{{ config.font_awesome_css }}">{% endif %}
</head>
<body class="8chan vichan {% if mod %}is-moderator{% else %}is-not-moderator{% endif %}" data-stylesheet="{% if config.default_stylesheet.1 != '' %}{{ config.default_stylesheet.1 }}{% else %}default{% endif %}">
	{{ boardlist.top }}
	<header>
		<h1>{{ settings.title }}</h1>
		<div class="subtitle">{{ settings.subtitle }}</div>
	</header>
	
	<div class="ban news">
		{% if news|count == 0 %}
			<p style="text-align:center" class="unimportant">(No news to show.)</p>
		{% else %}
			{% for entry in news %}
				<h2 id="{{ entry.id }}">
					{% if entry.subject %}
						{{ entry.subject }}
					{% else %}
						<em>no subject</em>
					{% endif %}
					<span class="unimportant"> &mdash; by {{ entry.name }} at {{ entry.time|date(config.post_date, config.timezone) }}</span>
				</h2>
				<p>{{ entry.body }}</p>
			{% endfor %}
		{% endif %}
	</div>

	<div class="ban boards">
		<h2>Boards</h2>
		<div class="boards-inner">
			{% for category, boards in categories %}
				<div class="category">
					<b>
						<u>
							{{ category }}
						</u>
					</b>
					{% for board in boards %}
						<li class="">
							<a href="{{ board.uri }}">{{ board.title|e }}</a>
						</li>
					{% endfor %}
				</div>
			{% endfor %}
		</div>

		{% for category, links in config.custom_categories %}
		<fieldset>
			<legend>
				{{ category }}
			</legend>
			{% for title, uri in links %}
			<li>
				<a href="{{ uri }}">{{ title }}</a>
			</li>
			{% endfor %}
		</fieldset>
		{% endfor %}
	</div>

	<div class="box-wrap">
		<div class="box left">
			<h2>Recent Images</h2>
			<ul>
				{% for post in recent_images %}
				<li>
					<a href="{{ post.link }}">
						<img src="{{ post.src }}" style="width:{{ post.thumbwidth }}px;height:{{ post.thumbheight }}px" alt="">
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="box right">
			<h2>Latest Posts</h2>
			<ul>
				{% for post in recent_posts %}
				<li>
					<strong>{{ post.board_name }}</strong>:
					<a href="{{ post.link }}">
						{{ post.snippet }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="box right">
			<h2>Stats</h2>
			<ul>
				<li>Total posts: {{ stats.total_posts }}</li>
				<li>Unique posters: {{ stats.unique_posters }}</li>
				<li>Active content: {{ stats.active_content|filesize }}</li>
			</ul>
		</div>
	</div>

	<hr/>
        <footer>
                <p class="unimportant" style="margin-top:20px;text-align:center;">- Tinyboard + 
                        <a href="https://engine.vichan.net/">vichan</a> {{ config.version }} -
                <br>Tinyboard Copyright &copy; 2010-2014 Tinyboard Development Group    
                <br><a href="https://engine.vichan.net/">vichan</a> Copyright &copy; 2012-2018 vichan-devel</p>
        </footer>
</body>
</html>
{% endfilter %}
