<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>24 Hour Pass</title>
    {% if config.meta_keywords %}<meta name="keywords" content="{{ config.meta_keywords }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    {% if config.url_favicon %}<link rel="shortcut icon" href="{{ config.url_favicon }}">{% endif %}
    <link rel="stylesheet" media="screen" href="{{ config.url_stylesheet }}">
    <link rel="stylesheet" media="screen" href="/recent.css">
    {% if config.default_stylesheet.1 != '' %}<link rel="stylesheet" type="text/css" id="stylesheet" href="{{ config.uri_stylesheets }}{{ config.default_stylesheet.1 }}">{% endif %}
    {% if config.font_awesome %}<link rel="stylesheet" href="{{ config.root }}{{ config.font_awesome_css }}">{% endif %}
    <style>
        code {
            padding: 2px 4px;
            font-size: 90%;
            color: #c7254e;
            background-color: #f9f2f4;
            border-radius: 4px;
        }
    </style>
</head>
<body class="8chan vichan {% if mod %}is-moderator{% else %}is-not-moderator{% endif %}" data-stylesheet="{% if config.default_stylesheet.1 != '' %}{{ config.default_stylesheet.1 }}{% else %}default{% endif %}">
[<a href="/">Home</a>]
<header>
    <h1>Buy Pass</h1>
</header>

<div class="ban news">
    <h2>24 hour pass</h2>

    <div style="padding:10px;">
        {% if not received %}
            {% if unconfirmed == 0 %}
                <h3>
                    Send {{ amount }} {{ type }} to: <code>{{ address }}</code>
                </h3>
            {% else %}
                <h3>
                    Waiting for confirmations for {{ address }}
                </h3>
            {% endif %}
            <p>Allow several minutes for the transaction to process.</p>
            <a href="/buy.php?24h&uuid={{ uuid }}">
                <button type="button">Click here to check transaction status.</button>
            </a>
            {% if unconfirmed == 0 %}
                <h3 style="color:red;">Awaiting Transaction...</h3>
            {% endif %}
        {% else %}
                <h3 style="color:green;">Received Transaction</h3>
                <h3>Save below to login if you lose your cookie. <span style="color:red;">They will disappear where you refresh the page.</span></h3>
                {% if pass_key != '' %}
                <table style="margin-left:0px;">
                    <tr>
                        <th>UUID</th>
                        <th>Pass Key</th>
                    </tr>
                    <tr>
                        <td>{{ uuid }}</td>
                        <td>{{ pass_key }}</td>
                    </tr>
                </table>
            {% endif %}
        {% endif %}
    </div>
</div>
</body>
</html>